# MS SQL Essential Notebook

รวมคำสั่ง SQL พร้อมคำอธิบายสำหรับการเรียนรู้

In [ ]:
%load_ext sql
%sql mssql+pyodbc://username:password@localhost/DBName?driver=ODBC+Driver+17+for+SQL+Server

### 01.Authorization using DB Role and Schema.sql

In [ ]:
%%sql
USE AdventureWorks;
GO

CREATE ROLE HRUsers;
ALTER ROLE HRUsers ADD MEMBER superman;
GO


GRANT DELETE ON SCHEMA::HumanResources TO HRUsers;
GRANT INSERT ON SCHEMA::HumanResources TO HRUsers;
GRANT SELECT ON SCHEMA::HumanResources TO HRUsers;
GRANT UPDATE ON SCHEMA::HumanResources TO HRUsers;
GO

GRANT EXECUTE ON SCHEMA::HumanResources TO HRUsers;
GO

DENY DELETE ON OBJECT::HumanResources.EmployeePayHistory TO superman;
DENY INSERT ON OBJECT::HumanResources.EmployeePayHistory TO superman;
DENY SELECT ON OBJECT::HumanResources.EmployeePayHistory TO superman;
DENY UPDATE ON OBJECT::HumanResources.EmployeePayHistory TO superman;
GO

DENY EXECUTE ON OBJECT::HumanResources.uspUpdateEmployeeHireInfo TO superman;
GO

### 02.Create Database.sql

In [ ]:
%%sql
USE master;
GO

CREATE DATABASE TestDB
 ON   
	(	
		NAME = N'TestDB', FILENAME = N'C:\TestDB\TestDB.mdf' 
	,	SIZE = 102400KB , FILEGROWTH = 0
	)
 LOG ON 
	( 
		NAME = N'TestDB_log', FILENAME = N'C:\TestDB\TestDB_log.ldf' 
	,	SIZE = 102400KB , FILEGROWTH = 0
	)
GO

ALTER DATABASE [TestDB] SET RECOVERY SIMPLE 
GO

### 03.Create Customers Table.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE SCHEMA Sales;
GO

CREATE TABLE Sales.Customers
(
	CustID int IDENTITY(1,1) NOT NULL 
		CONSTRAINT PK_Customers PRIMARY KEY
,	CompanyName nvarchar(40) NOT NULL
,	ContactName nvarchar(30) NOT NULL
,	ContactTitle nvarchar(30) NOT NULL
,	[Address] nvarchar(60) NOT NULL
,	City nvarchar(15) NOT NULL
,	Region nvarchar(15) NULL
,	PostalCode nvarchar(10) NULL
,	Country nvarchar(15) NOT NULL
,	Phone nvarchar(24) NOT NULL
);
GO

### 04.INSERT into Customers.sql

In [ ]:
%%sql
USE TestDB;
GO

INSERT INTO Sales.Customers 
(CompanyName,ContactName,ContactTitle,[Address],City,Region,PostalCode,Country,Phone)
VALUES
	(	
		'Data Meccanica Co.,Ltd.','Phakkhaphong K.','Owner'
	,	'109/6 M9','Paris',NULL,10058,'France','(66) 789-0123'
	)
,	(
		'Jaidee Co.,Ltd.','Somchai S.','Purchasing Assistant Manager'
	,	'9999','Nonthaburi',NULL,11120,'THAILAND','(66) 878-1234'
	)
;

### 05.Create ProductCategoryTable and Insert Data.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE SCHEMA Production;
GO

CREATE TABLE Production.ProductCategory
(
	CategoryID int IDENTITY(1,1) NOT NULL
		CONSTRAINT PK_CategoryID PRIMARY KEY
,	CategoryName nvarchar(50) NOT NULL
);
GO

INSERT INTO Production.ProductCategory (CategoryName)
VALUES
	('Bikes'),('Components'),('Clothing'),('Accessories')
GO

### 06.Create ProductsTable without Relationship and Insert Data.sql

In [ ]:
%%sql
USE TestDB;

CREATE TABLE Production.Products
(
	ProductID int IDENTITY(1,1) NOT NULL
		CONSTRAINT PK_ProductID PRIMARY KEY
,	ProductName nvarchar(50) NOT NULL
,	StockQty smallint NOT NULL
,	CategoryID int
);
GO

INSERT INTO Production.Products
(ProductName,StockQty,CategoryID)
VALUES
	('Bike Wash - Dissolver',-36,5)
GO

### 07.Add necessary constraints to Products Table.sql

In [ ]:
%%sql
USE TestDB;
GO

TRUNCATE TABLE Production.Products;
GO

DBCC CHECKIDENT ('Production.Products', RESEED, 1);
GO

ALTER TABLE Production.Products
ADD FOREIGN KEY(CategoryID) REFERENCES Production.ProductCategory (CategoryID);
GO

ALTER TABLE Production.Products
ADD  CONSTRAINT DF_StockQty DEFAULT 0 FOR StockQty;
GO
ALTER TABLE Production.Products
ADD  CONSTRAINT CK_StockQty CHECK ((StockQty>=(0)));
GO

-------Test
SELECT * FROM Production.ProductCategory

SELECT * FROM Production.Products
GO

--Test 1
INSERT INTO Production.Products
(ProductName,StockQty,CategoryID)
VALUES
	('Bike Wash - Dissolver',36,5)
GO

--Test 2
INSERT INTO Production.Products
(ProductName,StockQty,CategoryID)
VALUES
	('Bike Wash - Dissolver',-36,4)
GO

### 08.INSERT correct data into Products TABLE.sql

In [ ]:
%%sql
USE TestDB
GO

DELETE Production.Products;
GO

DBCC CHECKIDENT('Production.Products',RESEED,0)
GO

INSERT INTO Production.Products
(ProductName,StockQty,CategoryID)
VALUES
	('Road-150 Red, 62',9,1)
,	('Road-150 Red, 44',4,1)
,	('Rear Derailleur',12,2)
,	('Rear Brakes',34,2)
,	('Men Sports Shorts, XL',70,3)
,	('Women Tights, S',40,3)
,	('Bike Wash - Dissolver',36,4)
,	('Mountain Tire Tube',15,4)
GO

SELECT * FROM Production.Products;

### 09.Create Orders Table with Constraint.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE TABLE Sales.Orders
(
	OrderID int IDENTITY(1,1) NOT NULL 
		CONSTRAINT PK_Orders PRIMARY KEY 
,	CustID int NOT NULL 
		CONSTRAINT FK_Orders_Customers 
		FOREIGN KEY(CustID) 
		REFERENCES Sales.Customers (CustID)
,	OrderDate datetime NOT NULL
,	Freight money NOT NULL 
		CONSTRAINT DFT_Orders_Freight  DEFAULT ((0))
) ;
GO

### 10.Create OrderDetails Table with Constraint.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE TABLE Sales.OrderDetails
(
	OrderID int NOT NULL 
		CONSTRAINT FK_OrderDetails_Orders 
		FOREIGN KEY(orderid) 
		REFERENCES Sales.Orders (orderid)
,	ProductID int NOT NULL 
		CONSTRAINT FK_OrderDetails_Products 
		FOREIGN KEY(productid) 
		REFERENCES Production.Products (productid)
,	UnitPrice money NOT NULL 
		CONSTRAINT DFT_OrderDetails_unitprice  
		DEFAULT ((0)) 
,	Quantity smallint NOT NULL 
		CONSTRAINT DFT_OrderDetails_Quantity  
		DEFAULT ((1)) 
,	Discount numeric(4,3) NOT NULL 
		CONSTRAINT DFT_OrderDetails_discount  
		DEFAULT ((0)) 

,	CONSTRAINT PK_OrderDetails PRIMARY KEY  
	(
		orderid ASC,
		productid ASC
	)
);

### 11.Sale Order without Transaction.sql

In [ ]:
%%sql
USE TestDB
GO

INSERT INTO Sales.Customers 
(
	CompanyName,ContactName,ContactTitle,[Address],City
,	Region,PostalCode,Country,Phone
)
VALUES
(	
	'Suk Jai Co.,Ltd.','Somsri R.','Owner','99/8 M1','Pitsanuloke'
,	NULL,65210,'THAILAND','(66) 766-0987'
)

INSERT INTO Sales.Orders (CustID,OrderDate,Freight)
VALUES (@@IDENTITY,GETDATE(),32.38);

INSERT INTO Sales.OrderDetails 
(OrderID,ProductID,UnitPrice,Quantity,Discount)
VALUES
	(@@IDENTITY,1,50000.00,1,0.1)
,	(@@IDENTITY,7,450.00,39,0)
,	(@@IDENTITY,8,1100.00,3,0);

UPDATE Production.Products SET StockQty=StockQty-1 WHERE productid=1;
UPDATE Production.Products SET StockQty=StockQty-39 WHERE productid=7;
UPDATE Production.Products SET StockQty=StockQty-3 WHERE productid=8;
GO

### 12.Sale Order with Transaction.sql

In [ ]:
%%sql
USE TestDB
GO

DELETE Sales.OrderDetails;
DELETE Sales.Orders;
DELETE Sales.Customers WHERE CompanyName='Suk Jai Co.,Ltd.';
GO

SET XACT_ABORT ON
BEGIN TRANSACTION
	INSERT INTO Sales.Customers 
	(
		CompanyName,ContactName,ContactTitle,[Address],City
	,	Region,PostalCode,Country,Phone
	)
	VALUES
	(	
		'Suk Jai Co.,Ltd.','Somsri R.','Owner','99/8 M1','Pitsanuloke'
	,	NULL,65210,'THAILAND','(66) 766-0987'
	)

	INSERT INTO Sales.Orders (CustID,OrderDate,Freight)
	VALUES (@@IDENTITY,GETDATE(),32.38);

	INSERT INTO Sales.OrderDetails 
	(OrderID,ProductID,UnitPrice,Quantity,Discount)
	VALUES
		(@@IDENTITY,1,50000.00,1,0.1)
	,	(@@IDENTITY,7,450.00,39,0)
	,	(@@IDENTITY,8,1100.00,3,0);

	UPDATE Production.Products SET StockQty=StockQty-1 WHERE productid=1;
	UPDATE Production.Products SET StockQty=StockQty-39 WHERE productid=7;
	UPDATE Production.Products SET StockQty=StockQty-3 WHERE productid=8;
COMMIT TRANSACTION
SET XACT_ABORT OFF
GO

### 13.Create View.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE VIEW Production.vwGetAccessories
AS
	SELECT * FROM Production.Products
	WHERE CategoryID=4
;

### 14.Create Inline-TVF.sql

In [ ]:
%%sql
USE TestDB;
GO

CREATE FUNCTION Production.vwGetProductByCatID(@catid int)RETURNS TABLE
AS
	RETURN
		SELECT * FROM Production.Products
		WHERE CategoryID=@catid
;

### A.Create TSQL Database.sql

In [ ]:
%%sql
CREATE DATABASE [TSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TSQL', FILENAME = N'C:\TSQL\TSQL.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TSQL_log', FILENAME = N'C:\TSQL\TSQL_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [TSQL] SET RECOVERY SIMPLE 
GO

### B.Reset Identity for Product Table.sql

In [ ]:
%%sql
DELETE [Production].[Products]
DBCC CHECKIDENT ('Production.Products', RESEED, 0);
GO

DELETE [Sales].[Orders]
DBCC CHECKIDENT ('Sales.Orders', RESEED, 0);
GO

INSERT INTO Production.Products
(ProductName,StockQty,CategoryID)
VALUES
	('Road-150 Red, 62',9,1)
,	('Road-150 Red, 44',4,1)
,	('Rear Derailleur',12,2)
,	('Rear Brakes',34,2)
,	('Men Sports Shorts, XL',70,3)
,	('Women Tights, S',40,3)
,	('Bike Wash - Dissolver',36,4)
,	('Mountain Tire Tube',15,4)
GO

SELECT * FROM Production.Products